/* font family*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    /* font family */
    --open-sans: 'Open Sans', sans-serif; /* 400, 700*/
    --poppins: 'Poppins', sans-serif; /* 600 */
    /* colors */
    --pink: hsl(322, 100%, 66%);
    /* neutral */
    --very-pale-cyan: hsl(193, 100%, 96%);
    --very-dark-cyan: hsl(192, 100%, 9%);
    --grayish-blue: hsl(208, 11%, 55%);
    /* typography */
    --size: 18px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: var(--size);
    width: 100%;
}

/* nav */

.header {
    width: 100%;
    min-height: 100vh;
    background: url(images/bg-hero-desktop.svg) no-repeat center center / cover, var(--very-pale-cyan);
    padding: 1.9em 2em;
}

.header .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em;
}

.btn-top {
    padding: 0.8em 4.5em;
    border: none;
    background-color: #fff;
    box-shadow: 0 3px 16px #00000038;
    border-radius: 20px;
    font-size: 18px;
    transition: all 0.3s ease;
}

.btn-top:hover {
    opacity: 0.8;
    cursor: pointer;
}

/* hero section */

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em 2em;
    width: 100%;
}

.hero .title {
    font-size: 2.8em;
    margin-right: 3em;
    font-family: var(--open-sans);
    font-weight: 700;
}

.hero .sub {
    margin-right: 25%;
    font-family: var(--open-sans);
    font-weight: 400;
    line-height: 1.5;
}

.sub, .title{
    margin: 30px 0px;
}

.hero .hero-img {
   width: 100%;
}

.img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.hero .btn-hero {
    padding: 1em 3.2em;
    font-size: 18px;
    border: none;
    border-radius: 35px;
    background-color: var(--pink);
    color: #fff;
    transition: all 0.3s ease;
}

.btn-hero:hover {
    opacity: 0.8;
    cursor: pointer;
}

/* cards section */

.cards-sec {
    background-color: #ffff;
    padding: 5em 3em;
    width: 100%;
}

.card {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    max-width: 1400px;
    margin: 30px auto;
    padding: 30px 0px;
    box-shadow: 0 3px 16px rgba(0, 0, 0, 0.22);
    border-radius: 10px;
}

.card .imagen-container .img-card {
    max-width: 500px;
    width: 100%;
    object-fit: cover;
    margin:0 auto;
    display: block;
}

.text-card {
    max-width: 500px;
}

.title-card {
    font-family: var(--poppins);
    margin-bottom: 15px;
}

.sub-card {
    font-size: 18px;
    padding-right: 15px;
    font-family: var(--open-sans);
    font-weight: 400;
    line-height: 1.5;
}

/* info float */

.info-float {
    position: relative;
    width: 50%;
    border-radius: 20px;
    padding: 3em;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.12 );
    background-color: white;
    overflow: hidden;
    margin: 5em auto -190px auto;
}

.info-float h1 {
    font-size: 2em;
    text-align: center;
    font-weight: var(--open-sans);
    font-weight: 600;
    margin-bottom: 20px;
}

.info-float .btn-float {
    display: block;
    margin: auto;
    padding: 1.5em 7em;
    border: none;
    border-radius: 35px;
    font-size: 18px;
    background-color: var(--pink);
    color: #fff;
    transition: all 0.3s ease;
}

.btn-float:hover {
    opacity: 0.8;
    cursor: pointer;
}

/* footer section  */

.footer {
    background-color: var(--very-dark-cyan);
    color: #ffff;
    padding: 200px 100px 30px;
    display: flex;
    flex-direction: column;
}

.footer .logo-foo {
    max-width: 250px;
}

.footer .footer-section {
    display: grid;
    grid-template-columns: 40% 20% 20% 20%;
    margin: 40px 0px;
    width: 100%;
}

li {
    list-style: none;
    width: 100%;
}

.sec-1 .direct li {
    margin-bottom: 20px;
    padding-right: 90px;
}

.sec-1 .direct .contenido{
    display: flex;
    align-items: flex-start;
}

.contenido .icono {
    margin-top: 5px;
    margin-right: 20px;
}

/* sec-2 and sec-3*/

.sec-2 li, .sec-3 li {
    margin-bottom: 15px;
    border-bottom: 1px solid transparent;
    width: fit-content;
    transition: all 0.3s ease;
}

.sec-2 li:hover, .sec-3 li:hover{
    border-bottom: 1px solid #fff;
    cursor: pointer;
}

/* social section */

.sec-4 .social{
    display: inline-flex;
}

.social li {
    margin-right: 20px;
}

.social li a {
    border-radius: 50%;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    padding: 0px 10px;
    text-decoration: none;
    width: 45px;
    height: 45px;
}

.social li a:hover {
    border: 1px solid var(--pink);
}

.social li a i {
    color: var(--very-pale-cyan);
    transition: all 0.3s ease;
}

.social li a i:hover {
    color: var(--pink);
}

/* copy */

.copy {
   width: 100%;
   display: flex;
   justify-content: flex-end;
   padding: 0;
   margin: 0;
}

/* responsive */

@media screen and (max-width: 968px) {
    .hero {
        margin: 0em;
        display: flex;
        flex-direction: column;
    }

    .hero .title {
        margin: 20px 0px;
        padding: 0;
        text-align: center;
    }

    .hero .sub {
        margin: 20px 0px;
        text-align: center;
    }

    .hero .btn-hero {
        margin:2em auto;
        display: block;
    }

    .card {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .card-reverse {
        flex-direction: column-reverse;
    }

    .text-card {
        text-align: center;
        padding: 1em 0em;
    }

    .info-float {
        width: 100%;
        font-size: 17px;
    }

    .footer .footer-section {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 20px 0px;
    }

    .copy {
        justify-content: flex-start;
    }
}

@media screen and (max-width: 668px) {
    .header {
        background: url(images/bg-hero-mobile.svg) no-repeat center / cover, var(--very-pale-cyan);
        padding: 0;
    }

   .logo-img {width: 140px;}

   .btn-top {padding:10px 40px;}

   .cards-sec {
    padding: 3em 1em;
   }

   .card {
    padding: 20px;
   }

   .info-float {
    padding: 30px 10px;
    margin: 4em auto -130px auto;
   }

   .info-float .ready h1{
    font-size: 1.3em;
   }

   .info-float .btn-float {
    padding: 15px 40px;
   }

   .footer {
    padding-left: 40px;
    padding-right: 40px;
   }

   .footer .footer-section .sec-4 {
    display: flex;
    align-items: center;
    justify-content: center;
   }

   .copy {
    display: flex;
    justify-content: center;
   }
}

@media screen and (max-width: 375px) {
    .logo-img {
        width: 120px;
    }

    .btn-top {
        padding: 8px 25px;
        font-size: 15px;
    }

    .hero .title {
        padding: 0;
        font-size: 27px;
    }

    .hero .btn-hero {
        padding: 10px 40px;
    }

    .hero .hero-img {width: 100%; margin: 20px;}

    .info-float {
        padding: 20px 5px;
        margin: 4em auto -100px auto;
    }

    .info-float .ready h1{
        font-size: 18px;
    }

    .info-float .ready .btn-float {
        font-size: 15px;
        padding: 10px 40px;
    }

    .footer {
        padding-left: 20px;
        padding-right: 0px;
        padding-top: 160px;
    }

    .footer .logo-foo {
        width: 180px;
    }

    .footer .footer-section .sec-1 {margin: 0px; width: 100%;}

    .copy {
        font-size: 15px;
    }
}

/* @media screen and (max-width: 1440px){
    body{
        width: 100%;
    }
    
    .card {
        padding: 1em;
        gap: 20px;
    }

    .info-float {
        width: 100%;
        max-width: 90%;
    }
}

@media screen and (max-width: 1000px) {

   .hero {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
   } 

   .hero-text {
    padding: 10px;
   }

   .hero-text .title {
    text-align: center;
    margin: 0px 30px;
    font-size: 1.8em;
   }

   .hero .sub {
    margin: 10px 10px;
    text-align: center;
   }

   .btn-hero {
    display: block;
    margin:1em auto;
   }

    .card {
        padding: 1em;
        flex-direction: column;
        gap: 20px;
    }

    .card-reverse {
        flex-direction: column-reverse;
    }

    .img-card {
        width: 100%;
        max-width: 500px;
        display: block;
    }

    .info-float {
        width: 100%;
        max-width: 90%;
    }

    .footer .footer-section{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .copy {
        justify-content: flex-start;
    }
}

@media screen and (max-width: 768px) {
    .header {
        background: url(images/bg-hero-mobile.svg) no-repeat center center / cover, var(--very-pale-cyan);
        width: 100%;
        min-height: 100vh;
        padding: 1em;
    }

    .header .logo-img {
        width: 160px;
    }

    .header .nav .btn-top{
        padding: 0.4em 2.3em;
    }

    .card .text-card {
        text-align: center;
        padding: 12px;
    }

    .info-float {
        width: 100%;
    }

    .info-float h1 {
        font-size: 1.5em;
    }

    .info-float .btn-float {
        padding: 1em 3em;
    }

    .footer {
        padding: 150px 50px 0px;
    }
}

@media screen and (max-width: 460px) {
    .header .nav{
        width: 100%;
        border: 1px solid red;
    }
} */




















/* 
h1, button {
    font-family: var(--poppins);
    font-weight: 600;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.header {
    background: url(./images/bg-hero-desktop.svg) no-repeat center / cover;
    padding: 2em 4em;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav .logo-img {
    height: 35px;
}

.btn-nav {
    padding: 15px 60px;
    border: none;
    background-color: white;
    box-shadow: 0 3px 16px rgba(0, 0, 0, 0.22);
    border-radius: 25px;
    transition: opacity 0.3s;
}

.btn-nav:hover {
    opacity: 0.8;
    cursor: pointer;
}

.content-hero {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3em 0em;
}

.left {
    width: 49%;
}

.left .title {
    font-size: 42px;
    padding-right: 50px;
    margin: 25px 1em 25px 0px;
    font-family: var(--open-sans);
    font-weight: 700;
    line-height: 1.5;
}

.left .sub {
    padding-right: 80px;
    margin: 35px 0px;
}

.btn-hero {
    padding: 15px 70px;
    background-color: var(--pink);
    color: white;
    border-radius: 20px;
    border: 1px solid transparent;
    transition: opacity 0.3s;
}

.btn-hero:hover {
    opacity: 0.8;
    cursor: pointer;
}

.right {
    width: 65%;
    border: 1px solid red;
}

.right .img-right {
    object-fit: cover;
    width: 100%;
}

.container-services {
    background-color: white;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 120px 80px 40px;
    width: 96%;
    margin: auto;
}

.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 10px 50px 60px;
    box-shadow: 0 3px 16px rgba(0, 0, 0, 0.12);
    margin-bottom: 3em;
    border-radius: 10px;
}

.card .img-svg {
    max-width: 100%;
    width: 620px;
    padding: 15px 80px 15px 80px;
}

.card .text {
    padding-left: 70px;
}

.text h1 {
    margin: 10px 0px;
}

.text p {
    width: 91%;
}

.text .left-text {
    margin-right: 0px;
}

.pac {
    max-width: 89%;
}

.promotion {
    position: relative;
    max-width: 100%;
    width: 55%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 4em 0px;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.12 );
    background-color: white;
    margin-bottom: -100px;
}

.promotion .title-promo{
    margin: 20px 0px;
}

.promotion .btn-promo {
    padding: 20px 90px;
    background-color: var(--pink);
    border-radius: 40px;
    color: white;
    font-size: 19px;
    border: none;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.22 );
    transition: opacity 0.3s;
}

.btn-promo:hover {
    opacity: 0.8;
    cursor: pointer;
}

.footer {
    background-color: var(--very-dark-cyan);
    display: flex;
    flex-direction: column;
    padding: 150px 100px 90px;
    width: 100%;
    margin: auto;
    color: var(--very-pale-cyan);
}

.footer-logo {
    display: block;
    width: 250px;
    margin: 20px 0px;
    margin-left: 1em;
}

.container-main {
    width: 100%;
    max-width: 1300px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 150px;
}

.content {
    width: 470px;
}

.content .icon-text-details .text-detalle {
    font-size: 17px;
}

.con-one {
    width: 400px;
}

.con-two, .con-three {
    margin: 20px 0px;
}

.list-one li {
    list-style-type: none;
    padding-bottom: 15px;
}

.list-two li {
    padding-bottom: 15px;
    list-style-type:  none;
    transition: border-bottom 0.3s;
}

.list-one li > a {
    text-decoration: none;
    color: white;
    transition: border-bottom 0.3s;
}

.list-one li a:hover {
    border-bottom: 1px solid white;
}

.list-two li > a {
    text-decoration: none;
    color: white;
    transition: border-bottom 0.3s;
}

.list-two li a:hover {
    border-bottom: 1px solid white;
}

.icon-text-details {
    display: flex;
    justify-content: flex-start;
    margin: 20px 0px;
}

.icon-text-details img {
    width: 20px;
    height: 20px;
    margin-right: 15px;
}

.con-four .list-icon {
    display: inline-flex;
    list-style: none;
    gap: 25px;
    margin: 20px 0px;
}

.con-four .list-icon li {
    border: 1px solid white;
    padding: 10px 15px;
    border-radius: 50%;
}

.con-four .list-icon li a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

.con-four .list-icon li i {
    font-size: 20px;
}

.con-four .list-icon li a:hover {
    color: var(--pink);
}

.copy {
    text-align: right;
    font-family: var(--open-sans);
    font-weight: 400;
    font-size: 16px;
    opacity: 0.89;
    padding-top: 5em;
} */













/* 
.content-hero {
    width: 90%;
    min-height: 100vh;
    background: url(images/bg-hero-desktop.svg) no-repeat center / cover;
    
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: auto;
}

.header .nav{
    width: 99%;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: 2em 0px;
    position: absolute;
    top: 0;
}

.logo-img {
    border: 1px solid red;
}

.btn-nav {
    border: 1px solid transparent;
    box-shadow: 1px 1px 10px gray;
    padding: 0.8em 3em;
    border-radius: 40px;
    background-color: white;
}

.left {
    border: 1px solid red;
}

.left .title {
    font-size: 3em;
    font-weight: bold;
    font-family: var(--open-sans);
    margin-bottom: 0.6em;
    margin-right: 1.6em;
}

.left .sub {
    font-family: var(--open-sans);
    font-weight: bold;
    margin-bottom: 1em;
    border: 1px solid red;
    line-height: 1.9;
    color: var(--grayish-blue);
}

.left .btn-hero {
    border: 1px solid red;
    width: 50%;
}


.img-right {
    max-width: 100%;
    max-height: 100%;
    border: 1px solid orange;
    object-fit: cover;
    padding-top: 2.3em;
    display: block;
    margin: auto;
}

.cards {
    border: 1px solid red;
    background-color: white;
    padding: 5em;
}

.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3em;
    border: 1px solid black;
    width: 99%;
    margin: auto;
}

.text {
    flex: 1;
    border: 1px solid green;
}

.text > h1 {
    font-family: var(--open-sans);
    font-weight: bold;
    padding: 15px 0px;
}

.text > p {
    font-family: var(--open-sans);
    font-weight: 400;
}

.img-svg {
    display: block;
    margin: auto;
    width: 550px;
    object-fit: cover;
    border: 1px solid red;
} */



/* .cards {
    background-color: white;
    padding-top: 8em;
}

.card {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid transparent;
    width: 85%;
    height: 500px;
    margin: 2.5em auto;
    box-shadow: 0px 0px 5px 4px #ddd9d9;
    border-radius: 20px;
    padding: 0em 3em;
}

h1 {
    font-family: var(--open-sans);
    font-weight: 600;
    margin-bottom: 20px;
}

.text {
    flex: 1;
    padding: 3em;
    margin: auto;
}

.text > p {
    width: 500px;
    font-family: var(--open-sans);
    font-weight: 400;
    line-height: 1.4;
}

#two .ti {
    padding: -1em;
    margin-left: 2em;
}

#two .su {
    margin-left: 3em;
}

.imagen {
    flex: 1;
}

.imagen > img {
    display: block;
    width: 80%;
    height: auto;
    margin: auto;
} */


