/* font family*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    /* font family */
    --open-sans-cta: 'Open Sans', sans-serif; /* 400, 700*/
    --poppins-headings: 'Poppins', sans-serif; /* 600 */
    /* colors */
    --pink: hsl(322, 100%, 66%);
    /* neutral */
    --very-pale-cyan: hsl(193, 100%, 96%);
    --very-dark-cyan: hsl(192, 100%, 9%);
    --grayish-blue: hsl(208, 11%, 55%);
    /* typography */
    --size: 18px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: var(--size);
}

body {
    width: 100%;
    font-family: var(--open-sans-cta);
    font-weight: 400;
}

.container {
    padding: 2rem 1.5rem;
}

.header {
    width: 100%;
    min-height: 65vh;
    background:url(images/bg-hero-mobile.svg), var(--very-pale-cyan);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-img {
    width: 120px;
    display: block; 
    object-fit: cover;
}

.btn-top {
    font-size: 0.8rem;
    padding: 0.3rem 1rem;
    border: none;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0px 2px 6px var(--grayish-blue);
}

.hero {
    padding-top: 5rem;
}

.hero-text {
    text-align: center;
    margin-bottom: 1.7rem;
}

.title {
    font-family: var(--poppins-headings);
    font-weight: 600;
    margin-bottom: 1.4rem;
}

.sub {
    margin-bottom: 1.9rem;
    line-height: 1.6;
}

.btn-hero {
    width: 75%;
    padding: 0.8rem 2rem;
    background-color: var(--pink);
    color: #fff;
    font-family: var(--open-sans-cta);
    font-family: 700;
    border-radius: 30px;
    border: none;
    cursor: pointer;
}

.img-hero {
    width: 320px;
    height: 100%;
    display: block;
    margin: 0 auto;
    padding-top: 2rem;
}

.cards-sec {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 3rem 1rem;
    gap: 20px;
    box-shadow: 0px 2px 6px var(--grayish-blue);
    border-radius: 20px;
}

.card-reverse {
    flex-direction: column-reverse;
}

.img-card {
    display: block;
    width: 90%;
    margin: 0 auto;
    object-fit: cover;
}

.text-card {
    text-align: center;
}

.title-card {
    font-size: 1.3rem;
    padding: 15px 0px;
}

.sub-card {
    color: var(--grayish-blue);
    font-weight: 400;
}

.info-float {
    padding: 3rem 1rem;
    width: 100%;
    background-image: linear-gradient(#fff 50%, var(--very-dark-cyan)50%) ;
}

.info-float .ready {
    text-align: center;
    background-color: #fff;
    padding: 2rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0px 2px 6px var(--very-dark-cyan);
}

.ready .title-ready {
    font-size: 0.96rem;
    font-family: var(--poppins-headings);
    font-weight: bold;
    margin-bottom: 20px;
}

.btn-float {
    padding: 0.6rem 2rem;
    font-family: var(--open-sans-cta);
    font-weight: 400;
    background-color: var(--pink);
    color: #fff;
    border-radius: 30px;
    border: none;
    font-size: 0.7rem;
    cursor: pointer;
}

.footer {
    background-color: var(--very-dark-cyan);
}

.logo-foo {
    margin-bottom: 20px;
    width: 220px;
}

.sec-1 {
    display: grid;
    gap: 20px;
    color: #fff;
}

.contenido {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.primero {
    margin-top: 2rem;
}

.foo-nav .menu {
    list-style: none;   
}

.foo-nav .menu li {
    margin-bottom: 20px;
    cursor: pointer;
    width: fit-content;
    color: #fff;
}

.foo-nav .menu li:hover {
    text-decoration: underline;
}

.redes {
   margin: 3rem 0rem 1.2rem;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 20px;
}

.redes i {
    color: #fff;
    border: 1px solid #fff;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
}

.redes i:hover {
    color: var(--pink);
    border: 1px solid var(--pink);
}

.copy {
    font-size: 12px;
    text-align: center;
    color: #fff;
    margin-bottom: 1.8rem;
}

@media screen and (min-width: 992px) {

    .header {
        background-image: url(./images/bg-hero-desktop.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .container {
        padding: 2rem 5rem;
    }

    .img-hero {
        width: 100%;
        max-width: 90%;
        display: block;
        margin: 0 auto;
    }

    .logo-img {
        width: 250px;
    }

    .btn-top {
        padding: 1rem 5rem;
    }

    .hero {
        min-height: 80vh;
        display: grid;
        grid-template-columns: 45% 55%;
        align-items: center;
        padding-top: 1rem;
    }

    .hero-text {
        text-align: left;
        max-width: 590px;
    }

    .title {
        font-size: 2.6rem;
    }

    .sub {
        max-width: 90%;
        font-weight: 400;
    }

    .btn-hero {
        max-width: 60%;
        padding: 1rem 2rem;
    }

    .cards-sec {
        width: 100%;
        margin: 7rem 0rem 4rem;
    }

    .card {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 2.5rem 3.5rem;
        gap: 10px;
    }

    .card .text-card {
        text-align: left;
        max-width: 550px;
        padding-right: 3rem;
        line-height: 1.6;
    }

    .img-card {
        max-width: 600px;
        object-fit: cover;
        display: block;
        margin: 0 auto;
    }

    .info-float .ready {
        width: 60%;
        padding: 4rem 1rem;
        margin: 0 auto;
        border-radius: 20px;
        box-shadow: 1px 8px 10px var(--very-dark-cyan);
    }

    .ready .title-ready {
        font-size: 2rem;
    }

    .ready .btn-float {
        font-size: 1.2rem;
        padding: 1rem 5rem;
    }

    .footer-section {
        display: grid;
        grid-auto-flow: column;
        align-items: center;
        gap: 2rem;
        color: #fff;
    }

    .footer-section .lorem {
        max-width: 400px;
        line-height: 1.5;
    }

    .footer-section .foo-nav {
        margin-top: 2rem;
    }

    .redes {
        justify-content: flex-start;
        margin: -1rem 0rem 2rem; 
    }

    .redes i {
        width: 35px;
        height: 35px;
    }

    .copy {
        text-align: right;
        font-size: 0.8rem;
        margin-top: 2rem;
    }
}




/* .header {
    width: 100%;
    background: url(images/bg-hero-mobile.svg), var(--very-pale-cyan);
    background-position: center;
    background-size: cover;
    padding: 1.5rem 3.6rem;
}

.header .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .nav .btn-top {
    padding: 0.8rem 4rem;
    border-radius: 30px;
    background-color: #fff;
    border: none;
    box-shadow: 0px 4px 15px var(--grayish-blue);
}

.btn-top:hover {
    opacity: 0.8;
    cursor: pointer;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    min-height: 80vh;
    padding-top: 3rem;
}

.hero .hero-text {
    margin-right: 0rem;
    max-width: 700px;
}

.hero-text .title {
    font-size: 3rem;
    font-family: var(--poppins);
    font-weight: 600;
}

.hero-text .sub {
    margin-top: 20px;
    margin-right: 5rem;
    line-height: 1.7;
    font-family: var(--open-sans);
    font-weight: 300;
    max-width: 600px;
}

.hero-text .btn-hero {
    margin-top: 1.5rem;
    padding: 1rem 4rem;
    border: none;
    border-radius: 35px;
    background-color: var(--pink);
    color: #fff;
    font-family: var(--open-sans);
    font-weight: 700;
}

.hero-text .btn-hero:hover {
    opacity: 0.7;
    cursor: pointer;
}

.hero-img {
    width: 100%;
}

.hero-img .img-hero {
    display: block;
    object-fit: cover;
    width: 100%;
    max-width: 800px;
    height: 100%;
    object-fit: cover;
}

.cards-sec {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    padding-top: 10rem;
    padding-bottom: 15rem;
    position: relative;
}

.card {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 5rem;
    align-items: center;
    width: 100%;
    max-width: 1400px;
    padding: 2rem 3rem;
    border-radius: 20px;
    box-shadow: 0px 2px 13px var(--grayish-blue);
}

.card .text-card {
    max-width: 100%;
}

.text-card .title-card {
    font-family: var(--poppins);
    margin-bottom: 15px;
    font-weight: 600;
}

.text-card .sub-card {
    font-family: var(--open-sans);
    font-weight: 400;
    line-height: 1.5;
    max-width: 82%;
}

.imagen-container {
    width: 100%;
}

.imagen-container .img-card {
    width: 100%;
    display: block;
    max-width: 480px;
    object-fit: cover;
    margin: auto;
}

.info-float {
    width: 100%;
    max-width: 700px;
    padding: 2.5rem;
    text-align: center;
    border-radius: 20px;
    background-color: #ffff;
    box-shadow: 0px 0px 15px var(--grayish-blue);
    z-index: 100;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.info-float h1 {
    font-size: 1.8rem;
    margin-bottom: 26px;
    font-family: var(--open-sans);
}

.info-float .btn-float {
    border: none;
    background-color: var(--pink);
    padding: 1.2em 6em;
    color: #fff;
    font-family: var(--open-sans);
    font-weight: 700;
    border-radius: 20px;
    cursor: pointer;
}

.btn-float:hover {
    opacity: 0.7;
}

.footer {
    margin-top: -30px;
    background-color: var(--very-dark-cyan);
    color: #ffff;
    padding-top: 150px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
}

.footer .logo-foo {
    max-width: 250px;
    margin-bottom: 30px;
}

.footer .footer-section {
    display: grid;
    align-items: center;
    grid-template-columns: 40% 20% 20% 20%;
    padding: 3rem 0rem;
    width: 100%;
}

li {
    list-style: none;
}

.sec-1 .contenido {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.sec-1 .contenido .lorem {
    margin-right: 8rem;
    line-height: 1.6;
}

.sec-1 .contenido p {
    margin-bottom: 15px;
}

.sec-2 li, .sec-3 li {
    margin-bottom: 16px;
    max-width: fit-content;
    border-bottom: 1px solid transparent;
}

.sec-2 li:hover, 
.sec-3 li:hover {
    border-bottom: 1px solid #fff;
    cursor: pointer;
}

.sec-4 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 1.3rem;
}

.sec-4 i {
    height: 15px;
    width: 15px;
    padding: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #fff;
}

.sec-4 i:hover {
    border: 1px solid var(--pink);
    color: var(--pink);
    cursor: pointer;
}

.copy {
    text-align: right;
}


@media (width >= 992px) {
    .header {
        background-image: url(./images/bg-hero-desktop.svg);
        background-position: center;
        background-size: cover;
    }
}

@media (width <= 768px) {
    .hero {
        flex-direction: column;
        margin: 2rem 0rem;
    }

    .hero-text {
        width: 100%;
        text-align: center;
        padding: 3rem 0rem;
    }

    .hero-text .title {
        font-size: 2.3rem;
    }

    .hero-text .sub {
        margin-right: 0;
    }

    .card {
        max-width: 580px;
        padding: 1.5rem;
    }

    .cards-sec .card-reverse {
        display: flex;
        flex-direction: column-reverse;
        gap: 10px;
    }

    .card .text-card {
        text-align: center;
    }

    .card .sub-card {
        max-width: 100%;
    }
} */











