/* font family*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    /* font family */
    --open-sans: 'Open Sans', sans-serif; /* 400, 700*/
    --poppins: 'Poppins', sans-serif; /* 600 */
    /* colors */
    --pink: hsl(322, 100%, 66%);
    /* neutral */
    --very-pale-cyan: hsl(193, 100%, 96%);
    --very-dark-cyan: hsl(192, 100%, 9%);
    --grayish-blue: hsl(208, 11%, 55%);
    /* typography */
    --size: 18px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: var(--size);
}

body {
    width: 100%;
}

.header {
    width: 100%;
    background: url(images/bg-hero-mobile.svg), var(--very-pale-cyan);
    background-position: center;
    background-size: cover;
    padding: 1.5rem 3.6rem;
}

.header .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .nav .btn-top {
    padding: 0.8rem 4rem;
    border-radius: 30px;
    background-color: #fff;
    border: none;
    box-shadow: 0px 4px 15px var(--grayish-blue);
}

.btn-top:hover {
    opacity: 0.8;
    cursor: pointer;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    min-height: 100vh;
}

.hero .hero-text {
    margin-right: 0rem;
    max-width: 700px;
}

.hero-text .title {
    font-size: 3rem;
    font-family: var(--poppins);
    font-weight: 600;
}

.hero-text .sub {
    margin-top: 20px;
    margin-right: 5rem;
    line-height: 1.7;
    font-family: var(--open-sans);
    font-weight: 300;
    max-width: 600px;
}

.hero-text .btn-hero {
    margin-top: 1.5rem;
    padding: 1rem 4rem;
    border: none;
    border-radius: 35px;
    background-color: var(--pink);
    color: #fff;
    font-family: var(--open-sans);
    font-weight: 700;
}

.hero-text .btn-hero:hover {
    opacity: 0.7;
    cursor: pointer;
}

.hero-img {
    width: 100%;
}

.hero-img .img-hero {
    display: block;
    object-fit: cover;
    width: 100%;
    max-width: 800px;
    height: 100%;
}

.cards-sec {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    padding-top: 10rem;
    padding-bottom: 15rem;
    position: relative;
}

.card {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 5rem;
    align-items: center;
    width: 100%;
    max-width: 1400px;
    padding: 2rem 3rem;
    border-radius: 20px;
    box-shadow: 0px 2px 13px var(--grayish-blue);
}

.card .text-card {
    max-width: 100%;
}

.text-card .title-card {
    font-family: var(--poppins);
    margin-bottom: 15px;
    font-weight: 600;
}

.text-card .sub-card {
    font-family: var(--open-sans);
    font-weight: 400;
    line-height: 1.5;
    max-width: 82%;
}

.imagen-container {
    width: 100%;
}

.imagen-container .img-card {
    width: 100%;
    display: block;
    max-width: 480px;
    object-fit: cover;
    margin: auto;
}

.info-float {
    width: 100%;
    max-width: 700px;
    padding: 2.5rem;
    text-align: center;
    border-radius: 20px;
    background-color: #ffff;
    box-shadow: 0px 0px 15px var(--grayish-blue);
    z-index: 100;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.info-float h1 {
    font-size: 1.8rem;
    margin-bottom: 26px;
    font-family: var(--open-sans);
}

.info-float .btn-float {
    border: none;
    background-color: var(--pink);
    padding: 1.2em 6em;
    color: #fff;
    font-family: var(--open-sans);
    font-weight: 700;
    border-radius: 20px;
    cursor: pointer;
}

.btn-float:hover {
    opacity: 0.7;
}

.footer {
    margin-top: -30px;
    background-color: var(--very-dark-cyan);
    color: #ffff;
    padding-top: 150px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
}

.footer .logo-foo {
    max-width: 250px;
    margin-bottom: 30px;
}

.footer .footer-section {
    display: grid;
    align-items: center;
    grid-template-columns: 40% 20% 20% 20%;
    padding: 3rem 0rem;
    width: 100%;
}

li {
    list-style: none;
}

.sec-1 .contenido {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.sec-1 .contenido .lorem {
    margin-right: 8rem;
    line-height: 1.6;
}

.sec-1 .contenido p {
    margin-bottom: 15px;
}

.sec-2 li, .sec-3 li {
    margin-bottom: 16px;
    max-width: fit-content;
    border-bottom: 1px solid transparent;
}

.sec-2 li:hover, 
.sec-3 li:hover {
    border-bottom: 1px solid #fff;
    cursor: pointer;
}

.sec-4 {
    display: flex;
    gap: 1.3rem;
}

.sec-4 i {
    height: 15px;
    width: 15px;
    padding: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #fff;
}

.sec-4 i:hover {
    border: 1px solid var(--pink);
    color: var(--pink);
    cursor: pointer;
}

/* 
.footer {
    margin-top: -140px;
    border: 3px solid purple;
    background-color: var(--very-dark-cyan);
    color: #fff;
    padding: 3em 0em;
    width: 100%;
}

.logo-foo {
    margin-bottom: 24px;
}

.footer-section {
    display: grid;
    height: 300px;
    max-width: 1400px;
    gap: 2rem;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    align-items: center;
    border: 2px solid red;
}

.sec-1 .contenido{
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.sec-1 .contenido p {
    padding-bottom: 10px;
    margin-right: 5rem;
}

.sec-2 {
    display: grid;
    justify-content: center;
}

.sec-2 ul, .sec-3 ul {
    list-style: none;
}

.sec-2 ul li, .sec-3 ul li {
    margin-bottom: 15px;
    margin-top: 15px;
}


 */

.copy {
    text-align: right;
}


@media (width >= 992px) {
    .header {
        background-image: url(./images/bg-hero-desktop.svg);
        background-position: center;
        background-size: cover;
    }
}

@media (width <= 768px) {
    .hero {
        flex-direction: column;
        margin: 2rem 0rem;
    }

    .hero-text {
        width: 100%;
        text-align: center;
        padding: 3rem 0rem;
    }

    .hero-text .title {
        font-size: 2.3rem;
    }

    .hero-text .sub {
        margin-right: 0;
    }

    .card {
        max-width: 580px;
        padding: 1.5rem;
    }

    .cards-sec .card-reverse {
        display: flex;
        flex-direction: column-reverse;
        gap: 10px;
    }

    .card .text-card {
        text-align: center;
    }

    .card .sub-card {
        max-width: 100%;
    }
}












